[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.0, <8.0"

[requires]
python_version = "3.7"

[dev-packages.e1839a8]
path = "."
editable = true
